@import url('https://rsms.me/inter/inter.css');

@import 'cti-design/dist/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
      @apply h-full;
  }
  html,
  body {
      @apply h-full;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}